@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.heroGradient {
  background: rgb(45,38,68);
  background: -moz-radial-gradient(ellipse farthest-side at bottom center, rgb(45, 38, 74) 0%, rgba(45, 38, 68, 0.818) 7%, rgba(0,212,255,0) 50%);
  background: -webkit-radial-gradient(ellipse farthest-side at bottom center, rgb(45, 38, 74) 0%, rgba(45, 38, 68, 0.818) 7%, rgba(0,212,255,0) 50%);
  background: radial-gradient(ellipse farthest-side at bottom center, rgb(45, 38, 74) 0%, rgba(45, 38, 68, 0.818) 7%, rgba(0,212,255,0) 50%);
}

/*Blinking typewriter effect*/
@-webkit-keyframes typeBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

@keyframes typeBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

.typeBlink {
  border-right: 0.08em solid rgb(255, 255, 255);
}

.typeBlink {
  -webkit-animation: typeBlink 1s step-end infinite;
  animation: typeBlink 1s step-end infinite;
}

/* Raise effect */
@keyframes raise {
  0% {
    transform: translatey(0px);
  }
  30% {
    transform: translatey(-4px);
  }
  100% {
    transform: translatey(0px);
  }
}

.socialIcon {
  display: inline-block;
  transition: all .2s ease-in-out; 
}

.socialIcon:hover {
  transform: scale(1.2);
}

.aboutBox {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.projectCardShadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.projectsSub {
  background: #FFE259;
  background: linear-gradient(to right, #7855FF 17%, #5595FF 89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project {
  transition: transform .2s;
}

.project:hover {
  transform: translatey(-6px);
}