@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.heroGradient {
  background: rgb(45,38,68);
  background: -moz-radial-gradient(ellipse farthest-side at bottom center, rgb(45, 38, 74) 0%, rgba(45, 38, 68, 0.818) 7%, rgba(0,212,255,0) 50%);
  background: -webkit-radial-gradient(ellipse farthest-side at bottom center, rgb(45, 38, 74) 0%, rgba(45, 38, 68, 0.818) 7%, rgba(0,212,255,0) 50%);
  background: radial-gradient(ellipse farthest-side at bottom center, rgb(45, 38, 74) 0%, rgba(45, 38, 68, 0.818) 7%, rgba(0,212,255,0) 50%);
}

.resumeGradient {
  background: rgb(45,38,68);
  background: -moz-radial-gradient(ellipse farthest-side at bottom center, rgb(60, 48, 106) 0%, rgba(56, 46, 89, 0.818) 7%, rgba(0,212,255,0) 50%);
  background: -webkit-radial-gradient(ellipse farthest-side at bottom center, rgb(60, 48, 106) 0%, rgba(56, 46, 89, 0.818) 7%, rgba(0,212,255,0) 50%);
  background: radial-gradient(ellipse farthest-side at bottom center, rgb(60, 48, 106) 0%, rgba(56, 46, 89, 0.818) 7%, rgba(0,212,255,0) 50%);
}

@media only screen and (max-width: 640px) {
  .heroGradient {
    background: rgb(45,38,68);
    background: -moz-radial-gradient(ellipse farthest-side at bottom center, rgb(51, 43, 85) 0%, rgba(52, 44, 80, 0.9) 7%, rgba(0,212,255,0) 50%);
    background: -webkit-radial-gradient(ellipse farthest-side at bottom center, rgb(51, 43, 85) 0%, rgba(52, 44, 80, 0.9) 7%, rgba(0,212,255,0) 50%);
    background: radial-gradient(ellipse farthest-side at bottom center, rgb(51, 43, 85) 0%, rgba(52, 44, 80, 0.9) 7%, rgba(0,212,255,0) 50%);
  }
  .resumeGradient {
    background: rgb(45,38,68);
    background: -moz-radial-gradient(ellipse farthest-side at bottom center, rgb(60, 48, 106) 0%, rgba(56, 46, 89, 0.818) 7%, rgba(0,212,255,0) 50%);
    background: -webkit-radial-gradient(ellipse farthest-side at bottom center, rgb(60, 48, 106) 0%, rgba(56, 46, 89, 0.818) 7%, rgba(0,212,255,0) 50%);
    background: radial-gradient(ellipse farthest-side at bottom center, rgb(60, 48, 106) 0%, rgba(56, 46, 89, 0.818) 7%, rgba(0,212,255,0) 50%);
  }
}

/*Blinking typewriter effect*/
@-webkit-keyframes typeBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

@keyframes typeBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

.typeBlink {
  border-right: 0.08em solid rgb(255, 255, 255);
}

.typeBlink {
  -webkit-animation: typeBlink 1s step-end infinite;
  animation: typeBlink 1s step-end infinite;
}

/* Raise effect */
@keyframes raise {
  0% {
    transform: translatey(0px);
  }
  30% {
    transform: translatey(-4px);
  }
  100% {
    transform: translatey(0px);
  }
}

.projectIcon:hover{
  animation: raise 1s ease-out;
  transition: 0.3s ease-out;
}

.socialIcon {
  display: inline-block;
  transition: all .2s ease-in-out; 
}

.socialIcon:hover {
  transform: scale(1.2);
}

.aboutBox {
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
box-shadow:  26px 26px 52px #d3d3d3,
             -26px -26px 52px #eaeaea;
}

.projectCardShadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.projectsSub {
  background: #6143da;
  background: linear-gradient(to right, #7855FF 17%, #5595FF 89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project {
  transition: transform .2s;
}

.project:hover {
  transform: translatey(-6px);
}

.resumeGlow {
  transition: transform .2s;
}

.resumeGlow:hover {
  /* -moz-box-shadow: 0 0 15px rgb(38, 57, 77);
  -webkit-box-shadow: 0 0 15px rgb(38, 57, 77);
  box-shadow: 0px 0px 15px rgb(38, 57, 77); */
  -moz-box-shadow: 0 0 20px rgb(210, 212, 214);
  -webkit-box-shadow: 0 0 20px rgb(210, 212, 214);
  box-shadow: 0px 0px 20px rgb(210, 212, 214);
}

.extraProjectBackground {
  background-color: rgba(252, 252, 255, 0.561);
  backdrop-filter: blur(7px);
}

.bottomGradient {
  /* background: rgb(85,58,190);
  background: -moz-linear-gradient(90deg, rgba(85,58,190,1) 6%, rgba(59,60,182,1) 50%, rgba(60,106,184,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(85,58,190,1) 6%, rgba(59,60,182,1) 50%, rgba(60,106,184,1) 100%);
  background: linear-gradient(90deg, rgba(85,58,190,1) 6%, rgba(59,60,182,1) 50%, rgba(60,106,184,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#553abe",endColorstr="#3c6ab8",GradientType=1);
  box-shadow: inset 0 7px 30px 2px rgba(0,0,0,0.4); */
  /* -webkit-box-shadow: inset 0 20px 20px -20px rgba(187, 187, 187, 0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(187, 187, 187, 0.8); */
    box-shadow: inset 0 20px 20px -20px rgba(255, 255, 255, 0.8);

}

.navbarHover {
  padding-bottom: 1px;
  color: white;
  position: relative;
}

.navbarHover::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(3px);
  background: white;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.navbarHover:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.resumeButton {
 --color: #8264F4;
 font-family: inherit;
 position: relative;
 overflow: hidden;
 border: 2px solid var(--color);
 transition: color .5s;
 z-index: 1;
 color: var(--color);
}

.resumeButton:before {
 content: "";
 position: absolute;
 z-index: -1;
 background: var(--color);
 height: 150px;
 width: 200px;
 border-radius: 50%;
}

.resumeButton:hover {
 color: #fff;
}

.resumeButton:before {
 top: 100%;
 left: 100%;
 transition: all .7s;
}

.resumeButton:hover:before {
 top: -30px;
 left: -30px;
}

.resumeButton:active:before {
 background: #3a0ca3;
 transition: background 0s;
}

.extraProjectCard {
  transition: all 0.5s;
}
.extraProjectCard:hover {
  border-color: rgb(167 139 250);
  transform: scale(1.04);
}

.extraProjectCard:active {
  transform: scale(0.95) rotateZ(1.7deg);
}