@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Titillium Web', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.heroGradient {
  background: rgb(45,38,68);
  background: -moz-radial-gradient(ellipse farthest-side at bottom center, rgb(45, 38, 74) 0%, rgba(45, 38, 68, 0.818) 7%, rgba(0,212,255,0) 50%);
  background: -webkit-radial-gradient(ellipse farthest-side at bottom center, rgb(45, 38, 74) 0%, rgba(45, 38, 68, 0.818) 7%, rgba(0,212,255,0) 50%);
  background: radial-gradient(ellipse farthest-side at bottom center, rgb(45, 38, 74) 0%, rgba(45, 38, 68, 0.818) 7%, rgba(0,212,255,0) 50%);
}

/*Blinking typewriter effect*/
@-webkit-keyframes typeBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

@keyframes typeBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

.typeBlink {
  border-right: 0.08em solid rgb(255, 255, 255);
}

.typeBlink {
  -webkit-animation: typeBlink 1s step-end infinite;
  animation: typeBlink 1s step-end infinite;
}

/* Raise effect */
@keyframes raise {
  0% {
    transform: translatey(0px);
  }
  30% {
    transform: translatey(-4px);
  }
  100% {
    transform: translatey(0px);
  }
}

.projectIcon:hover{
  animation: raise 1s ease-out;
  transition: 0.3s ease-out;
}

.socialIcon {
  display: inline-block;
  transition: all .2s ease-in-out; 
}

.socialIcon:hover {
  transform: scale(1.2);
}

.aboutBox {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.projectCardShadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.projectsSub {
  background: #6143da;
  background: linear-gradient(to right, #7855FF 17%, #5595FF 89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project {
  transition: transform .2s;
}

.project:hover {
  transform: translatey(-6px);
}

.resumeGlow {
  transition: transform .2s;
}

.resumeGlow:hover {
  /* -moz-box-shadow: 0 0 15px rgb(38, 57, 77);
  -webkit-box-shadow: 0 0 15px rgb(38, 57, 77);
  box-shadow: 0px 0px 15px rgb(38, 57, 77); */
  -moz-box-shadow: 0 0 20px rgb(210, 212, 214);
  -webkit-box-shadow: 0 0 20px rgb(210, 212, 214);
  box-shadow: 0px 0px 20px rgb(210, 212, 214);
}

.extraProjectBackground {
  background-color: rgba(252, 252, 255, 0.8);
  backdrop-filter: blur(7px);
}

.bottomGradient {
  /* background: rgb(85,58,190);
  background: -moz-linear-gradient(90deg, rgba(85,58,190,1) 6%, rgba(59,60,182,1) 50%, rgba(60,106,184,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(85,58,190,1) 6%, rgba(59,60,182,1) 50%, rgba(60,106,184,1) 100%);
  background: linear-gradient(90deg, rgba(85,58,190,1) 6%, rgba(59,60,182,1) 50%, rgba(60,106,184,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#553abe",endColorstr="#3c6ab8",GradientType=1);
  box-shadow: inset 0 7px 30px 2px rgba(0,0,0,0.4); */
  /* -webkit-box-shadow: inset 0 20px 20px -20px rgba(187, 187, 187, 0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(187, 187, 187, 0.8); */
    box-shadow: inset 0 20px 20px -20px rgba(255, 255, 255, 0.8);



}